

body {
    font-family: 'Comfortaa', cursive !important;
    color:#444444 !important;
}



.main-title {
    padding-top: 3rem;
    color: #14aabf;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;

}


h1 {
    padding: 20px 0;
    color: #444444;
}

h3 {
    padding: 10px 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.games-links {
    text-decoration: none;
    color: #14aabf;
}

.games-links:hover {
    text-shadow: 2px 2px 2px #444444;
}



/* SIDE NAVIGATION BAR */


.desktop-navcol{
    background-color: #f5f5f5;
    box-shadow: 6px 10px 5px -8px black;
}

.nav-list {
    list-style: none;  
    padding-left: 0;   
}


.nav-list a {
    padding: 15px 0 15px 20px;
    box-shadow: 6px 10px 5px -8px black;

    text-decoration: none;
    display: block;    
    background-color: #14aabf;
    border: 1px solid whitesmoke;
    transition: 1s; 
    color: white;
}


.nav-list a:hover {
    color: #444444;         
    transform: scale(1.1);
}


/* MOBILE TOP NAVBAR */

.mobile-navbar {
    background-color: #14aabf;
    
}

.nav-link {
    font-size: 1em;
    color: white !important;
}




/*DOCUMENTATION COLUMN*/

.documentation {
    padding: 0 4rem;
    padding-bottom: 40px;
}
    




/* CSS PROPERTIES */

.properties {      
    border: 1px dashed #444444;
    background-color:lightblue;
    margin-bottom: 30px;
}

th,
td {
    text-align: justify;
    padding: 10px;   
}

.style {
    border: 1px dashed #444444;
}

/* VIDEOS */
 

video {
    width: 100%;
    height: auto!important;
}


iframe {
    width: 90%;
    height: 450px;
}


 



/* TABLES */


.table-head{
    font-size: larger;
    font-weight: bold;
    color: black;
}



/* RESOURCES */

.resources {
    list-style: circle;
}

.resources a {
    text-decoration: none;
    line-height: 3;
    color: #14aabf;
}

.resources a:hover {
    color: #444444;
}




/* FOOTER */

.footer-row {
    background-color: #14aabf;
    
    
}


.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    padding: 20px 30px 5px 0; 
    font-weight: 200;
}

.footer a {
    text-decoration: none;  
    color: white;
}

.footer a:hover{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    color: black;
    font-weight: bold;
}



/*HAMBURGER MENU & RESPONSIVE IMG*/



@media only screen and (min-width: 875px) and (max-width: 2000px) {

    .mobile-navbar {
        visibility: hidden;
    }

}


@media only screen and (max-width: 874px) {

     .mobile-navbar {
        visibility: visible;
    }

    .desktop-navcol {
        display: none;

    }
    .nav-list {
        display: none;
    }

    .documentation {
        width: 100%;
        position: relative;
        top: 5rem;
        padding: 0 1rem;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3{
      font-size: 22px;
    }

    .resources {
        padding-bottom: 100px;
    }

    p,
    span,
    .footer a {
        font-size: 14px;
    }

    th, 
    td {
        font-size: 12px;
    }

    .table-head {
        
    font-size: 12px;
}


iframe {
    width: 100%;
    height: 350px;

    }
}
    

@media only screen and (max-width: 414px) {

    iframe {
    width: 100%;
    height: 200px;

    }

}


